body{
    
     background-color: rgb(156, 162, 176);
     color:white;
}
    
h1,h2{
    text-align: center;
}
h3{
    text-align: center;
}
a{
    color:rgb(110, 79, 30);
        
}
img{
    max-width:500px;
}
.container{
    display:flex;
    justify-content: center;
    
    
}
.item a{
   color:white;
}
.center{
    display:flex;
    justify-content: center;
    align-items: center;
}